@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
.container {
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, section, div, header, footer, main, aside, nav, blockquote {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
@media (min-width: 1400px) {
  .wrapper {
    grid-template-rows: auto auto 1fr auto;
  }
}

.container, .container-fluid {
  position: relative;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }
}

:root {
  --transition-time: all 0.2s;
}

.btn {
  cursor: pointer;
  width: 140px;
  height: 36px;
  border-radius: 0.5em;
  border: none;
  background-color: var(--clr-primary);
  color: white;
  font-size: 14px;
  font-weight: 600;
  transition: box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.signin-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.hamb-meny {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  height: 36px;
  width: 30px;
}

.btn-app {
  width: 180px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-btn-app);
}

.btn-circle {
  background-color: var(--clr-btn-circle-closed);
  border: none;
  display: inline-block;
  font-size: 13px;
  padding: 13px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn-googleplay {
  gap: 0.5em;
}
.btn-googleplay .googleplay-text {
  display: flex;
  flex-direction: column;
}
.btn-googleplay .googleplay-text .get {
  width: 45px;
  height: 7px;
}

.btn-learn {
  width: 160px;
  height: 44px;
  gap: 10px;
}

.knappen {
  width: 114px;
  height: 52px;
  color: white;
  background-color: var(--clr-primary);
  font-size: 16px;
  font-weight: 600;
  border: 0;
  border-radius: 0 0.5em 0.5em 0;
  cursor: pointer;
}
@media (min-width: 1400px) {
  .knappen {
    width: 142px;
  }
}

.knappen:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.contact-btn {
  width: 162px;
  height: 50px;
}

/* KNAPP FÖR DARKMODE */
.btn-toggle-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

.toggle-switch input {
  opacity: 0;
}

.toggle-switch input:checked + .slider {
  background-color: var(--clr-primary);
}

.toggle-switch input:focus + .slider {
  box-shadow: 0 0 1px var(--clr-primary);
}

.toggle-switch input:checked + .slider:before {
  transform: translateX(18px);
  background-color: var(--clr-gray100);
}

.toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-gray600);
  transition: var(--transition-time);
}

.toggle-switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2.5px;
  background-color: var(--clr-gray100);
  transition: var(--transition-time);
}

.toggle-switch .slider.round {
  border-radius: 35px;
}

.toggle-switch .slider.round:before {
  border-radius: 50%;
}

/* POPOUT MENY SKAPAD MED HJÄLP AV CHATGPT */
.popout-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 10px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  width: 150px;
}
.popout-menu ul {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}
.popout-menu ul li {
  padding: 10px 20px;
}
.popout-menu ul li a {
  text-decoration: none;
  color: #333;
}
.popout-menu ul li a:hover {
  background-color: #f1f1f1;
}

.popout-menu.show {
  display: block;
}

/*LISTA FÖR FEATURES SIDAN - SIDA 2*/
.lista {
  margin-bottom: 2rem;
}
.lista .listitem {
  display: flex;
  gap: 1em;
}
.lista .text {
  width: 280px;
}
.lista .text p {
  margin-top: -10px;
}
.lista .box-2 {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 706px;
    height: 450px;
    margin-bottom: 2rem;
    gap: 2em;
  }
  .lista .listitem {
    display: flex;
    gap: 1em;
    align-items: flex-start;
  }
  .lista .listitem .box-2 {
    margin-top: 0;
  }
  .lista .listitem p {
    width: 265px;
    margin-top: -10px;
  }
  .lista .listitem h3 {
    font-size: 20px;
    text-align: start;
  }
  .lista .listitem .text {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: -20px;
  }
  .lista .listitem-bottom {
    position: relative;
  }
  .lista .listitem-bottom-2 {
    position: relative;
  }
  .lista {
    margin-top: 3rem;
  }
}
@media (min-width: 1300px) {
  .lista {
    margin-top: 4rem;
  }
}
/*--------LISTA PÅ SIDA 6---------*/
/*LISTA GJORD MED LITE HJÄLP AV CHATGPT*/
.info-lista {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 1300px) {
  .info-lista {
    margin-top: 5rem;
    margin-right: 0;
  }
}
.info-lista details {
  background-color: var(--clr-bg-details);
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  padding: 1rem;
  width: 366px;
  height: auto;
}
@media (min-width: 768px) {
  .info-lista details {
    width: 714px;
  }
}
@media (min-width: 1400px) {
  .info-lista details {
    width: 746px;
  }
}
.info-lista details summary {
  margin-right: 1.5rem;
  list-style: none;
  font-size: 16px;
  font-weight: 600;
}
.info-lista details summary::after {
  content: "";
  background-color: var(--clr-bg-100);
  background-image: url("/images/pil-closed.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center;
  width: 38px;
  height: 38px;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 1.8%;
}
.info-lista details[open] summary::after {
  content: "";
  background-color: var(--clr-primary);
  background-image: url("/images/pil-opened.svg");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: center;
  width: 38px;
  height: 38px;
  cursor: pointer;
  box-shadow: 0px -8px 16px rgba(0, 0, 0, 0.3);
  position: absolute;
  border-radius: 50%;
  right: 1.8%;
  top: 8px;
}
.info-lista details p {
  margin-top: 1rem;
}
@media (min-width: 1300px) {
  .info-lista details p {
    width: auto;
  }
}

a {
  color: var(--clr-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.d4 {
  font-size: 56px;
  font-weight: 800;
  color: var(--clr-rubrik);
}

.rubrik {
  font-weight: 800;
  color: var(--clr-rubrik);
}

.body-l {
  font-size: 18px;
  color: var(--clr-body);
}

.body-s {
  font-size: 14px;
  color: var(--clr-body);
}

.body-m {
  font-size: 16px;
  color: var(--clr-body);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 196px;
  height: 100px;
  border: 1px solid var(--clr-box1-4-border);
  border-radius: 0.5em;
}
@media (min-width: 768px) {
  .box {
    width: 158px;
    height: 98px;
  }
}
@media (min-width: 1300px) {
  .box {
    width: 196px;
    height: 100px;
  }
}

.box-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-box-2);
  width: 60px;
  height: 60px;
  border-radius: 0.5em;
}

.box-3 {
  width: 416px;
  height: 329px;
  background-color: var(--clr-box-3);
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box-4 {
  border: 1px solid var(--clr-box1-4-border);
  border-radius: 0.5em;
  width: 196px;
  height: 166px;
  padding: 1.5em;
}

:root {
  --clr-primary: #6366F1;
  --clr-gradient: var(clr-primary (s0 h50 l100));
  --clr-gray100: #F3F6FF;
  --clr-gray200: #EFF2FC;
  --clr-gray300: #E2E5F1;
  --clr-gray400: #D4D7E5;
  --clr-gray500: #B4B7C9;
  --clr-gray600: #9397AD;
  --clr-gray700: #565973;
  --clr-gray800: #33354D;
  --clr-gray900: #0B0F19;
  --clr-bg: white;
  --clr-bg-100: var(--clr-gray100);
  --clr-features: var(--clr-gray800);
  --clr-rubrik: var(--clr-gray900);
  --clr-body: var(--clr-gray700);
  --clr-btn-app: var(--clr-gray900);
  --clr-btn-circle-closed: white;
  --clr-box1-4-border: var(--clr-gray300);
  --clr-box-2: rgb(99, 102, 241, 0.08);
  --clr-box-3: white;
  --clr-fanniealbert-p: var(--clr-gray600);
  --clr-bg-details: white;
  --clr-input-border: var(--clr-gray400);
  --clr-placeholder: var(--clr-gray500);
  --clr-footer: var(--clr-gray600);
}
:root .show-dark {
  display: none;
}

html {
  color-scheme: light;
}

/* ------------- DARK MODE ------------- */
.dark {
  color-scheme: dark;
  --clr-bg: var(--clr-gray900);
  --clr-bg-100: rgba(255, 255, 255, 0.04);
  --clr-rubrik: white;
  --clr-body: rgba(255, 255, 255, 0.7);
  --clr-features: rgba(255, 255, 255, 0.85);
  --clr-btn-app: var(--clr-gray200);
  --clr-btn-circle-closed: rgba(255, 255, 255, 0.05);
  --clr-box1-4-border: rgba(255, 255, 255, 0.15);
  --clr-box-2: rgb(243, 246, 255, 0.08);
  --clr-box-3: rgb(255, 255, 255, 0.04);
  --clr-fanniealbert-p: rgba(255, 255, 255, 0.5);
  --clr-bg-details: rgba(255, 255, 255, 0.04);
  --clr-input-border: rgba(255, 255, 255, 0.18);
  --clr-placeholder: rgba(255, 255, 255, 0.18);
  --clr-footer: rgba(255, 255, 255, 0.5);
}
.dark .show-light {
  display: none;
}
.dark .show-dark {
  display: block;
}
.dark details summary::after {
  background-image: url("/images/chevron-darkmode.svg");
  background-size: 24px;
}

nav {
  display: flex;
  align-items: center;
  /* MEDIA QUERIES FÖR TABLET */
  /* MEDIA QUERIES FÖR DESKTOP */
}
nav .features {
  display: none;
  margin-left: 2rem;
  font-weight: 600;
  color: var(--clr-features);
}
nav .btn-toggle-switch {
  margin-left: auto;
  margin-right: 1rem;
}
nav .btn-toggle-switch .label {
  color: var(--clr-gray700);
  font-weight: 600;
  display: none;
}
nav .signin-btn {
  display: none;
}
nav .hamb-meny {
  margin-right: 1rem;
}
@media (min-width: 768px) {
  nav .btn-toggle-switch {
    margin-right: 5rem;
  }
  nav .btn-toggle-switch .label {
    display: block;
  }
}
@media (min-width: 1300px) {
  nav .hamb-meny {
    display: none;
  }
  nav .features {
    display: block;
  }
  nav .signin-btn {
    display: flex;
  }
  nav .btn-toggle-switch {
    margin-right: 3rem;
  }
}

#showcase {
  /* --------MOBIL LÄGE-------- */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* --------MOBIL LÄGE-------- */
  /* --------TABLET LÄGE-------- */
  /* --------TABLET LÄGE SLUT-------- */
  /* --------DESKTOPLÄGE-------- */
}
#showcase .mobile-p {
  width: auto;
  text-align: center;
}
#showcase h1 {
  display: none;
}
#showcase .left-side h1 {
  display: block;
  font-size: 34px;
  font-weight: 800;
}
#showcase .iphones {
  display: none;
}
#showcase .desktop-p {
  display: none;
}
#showcase .tablet-p {
  display: none;
}
#showcase .app-btns {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
#showcase .app-btns .btn-app {
  width: 100%;
}
#showcase .discover-more {
  display: flex;
  gap: 1em;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  #showcase {
    height: 618px;
    max-width: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
    display: grid;
    grid-template-areas: "h1 h1" "text phones" "buttons phones" "discover phones";
    grid-template-columns: 1fr auto;
  }
  #showcase .left-side {
    justify-self: start;
    margin-top: 4rem;
  }
  #showcase .left-side h1 {
    display: none;
  }
  #showcase .left-side .tablet-p {
    display: block;
    text-align: left;
  }
  #showcase .left-side .mobile-p {
    display: none;
  }
  #showcase .left-side .desktop-p {
    display: none;
  }
  #showcase h1 {
    margin-top: 3rem;
    display: block;
    font-weight: 800;
    width: 442px;
    grid-area: h1;
    font-size: 44px;
  }
  #showcase .app-btns {
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    justify-self: start;
  }
  #showcase .app-btns .btn-app {
    width: 135px;
  }
  #showcase .app-btns .btn-app .appstore-logo {
    width: 92px;
    height: 24px;
  }
  #showcase .app-btns .btn-app .googleplay-logo {
    width: 23px;
    height: 23px;
  }
  #showcase .app-btns .btn-app .googleplay-text {
    width: 76px;
    height: 23px;
  }
  #showcase .discover-more {
    grid-area: discover;
    justify-self: start;
    margin-bottom: 7rem;
  }
  #showcase .iphones {
    position: relative;
    height: 417px;
    grid-area: phones;
    display: flex;
    justify-self: end;
    bottom: 12.5%;
    left: 5%;
    overflow: hidden;
  }
  #showcase .iphones .iphone-front {
    width: 243px;
    position: relative;
    z-index: 30;
  }
  #showcase .iphones .iphone-back {
    width: 240px;
    position: relative;
    left: 21%;
    z-index: 4;
    top: 2.5rem;
  }
}
@media (min-width: 1400px) {
  #showcase {
    max-width: 1300px;
    margin-top: 8rem;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left-side iphones" "left-side iphones" "discover-more iphones";
  }
  #showcase h1 {
    display: none;
  }
  #showcase .left-side {
    position: relative;
    bottom: 18%;
    grid-area: left-side;
  }
  #showcase .left-side .desktop-p {
    display: block;
  }
  #showcase .left-side .mobile-p {
    display: none;
  }
  #showcase .left-side .tablet-p {
    display: none;
  }
  #showcase .left-side h1 {
    display: inline;
    font-size: 56px;
  }
  #showcase .manage {
    grid-area: manage;
  }
  #showcase .app-btns {
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
  #showcase .app-btns .btn-app {
    width: 180px;
  }
  #showcase .discover-more {
    grid-area: discover-more;
    display: flex;
    align-items: center;
    gap: 1em;
  }
  #showcase .iphones {
    grid-area: iphones;
    display: flex;
    width: auto;
    height: 702px;
    position: relative;
    bottom: 10.2%;
    left: 0;
  }
  #showcase .iphones .iphone-front {
    height: 813px;
    width: 402px;
    bottom: 7%;
  }
  #showcase .iphones .iphone-back {
    width: 395px;
    height: 800px;
    top: 4%;
  }
}

.first-page {
  background: rgb(99, 102, 241);
  background: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
}

@media (min-width: 1400px) {
  .first-page {
    height: 876px;
  }
}
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 4rem;
  display: none;
}

@media (min-width: 768px) {
  header {
    display: flex;
    margin-top: 2rem;
  }
}
@media (min-width: 1300px) {
  header {
    margin-top: 4rem;
  }
}
#features {
  display: flex;
  max-width: 100%;
}
@media (min-width: 768px) {
  #features {
    max-width: 720px;
  }
}
@media (min-width: 1300px) {
  #features {
    max-width: 1300px;
    height: 880px;
  }
}

h2 {
  font-size: 28px;
  text-align: center;
}
@media (min-width: 768px) {
  h2 {
    font-size: 33px;
  }
}
@media (min-width: 1300px) {
  h2 {
    font-size: 40px;
    text-align: left;
  }
}

.app-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app-features .features-p {
  text-align: center;
  max-width: 100%;
}
@media (min-width: 1300px) {
  .app-features .features-p {
    max-width: 746px;
    text-align: left;
  }
}
@media (min-width: 1300px) {
  .app-features {
    max-width: 746px;
    text-align: left;
    margin-top: 2rem;
  }
}

aside {
  display: none;
  margin-top: 4rem;
}
aside .card {
  position: relative;
  bottom: 61.5%;
  left: 3.5%;
}
@media (min-width: 1300px) {
  aside {
    display: block;
  }
}

.box-desktop {
  display: none;
}
@media (min-width: 1300px) {
  .box-desktop {
    display: flex;
  }
}

.secondpage {
  background-color: var(--clr-bg);
}

.third-page {
  background-color: var(--clr-bg-100);
}

#howdoesitwork .desktop-iphone-left {
  display: none;
}
#howdoesitwork .desktop-iphone-right {
  display: none;
}
#howdoesitwork .desktop-iphone-mid {
  display: none;
}
#howdoesitwork .tablet-iphone-left {
  display: none;
}
#howdoesitwork .tablet-iphone-right {
  display: none;
}
#howdoesitwork .desktop-h3 {
  display: none;
}
#howdoesitwork .tablet-h3 {
  display: none;
}
#howdoesitwork .desktop-p {
  display: none;
}
#howdoesitwork h2 {
  font-size: 28px;
  margin-bottom: 2rem;
}
#howdoesitwork .mobile-h3 {
  font-size: 22px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#howdoesitwork .mobile-p {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 3rem;
}
#howdoesitwork .iphone-mid {
  display: flex;
  align-items: center;
  justify-content: center;
}
#howdoesitwork .iphone-mid .tablet-iphone-mid {
  position: absolute;
}
#howdoesitwork .iphone-mid .tablet-iphone-mid-content {
  position: relative;
  right: 0.4px;
}
@media (min-width: 768px) {
  #howdoesitwork .mobile-h3 {
    display: none;
  }
  #howdoesitwork .tablet-iphone-left {
    display: block;
  }
  #howdoesitwork .tablet-iphone-right {
    display: block;
  }
  #howdoesitwork .iphones {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #howdoesitwork h2 {
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 33px;
  }
  #howdoesitwork .tablet-h3 {
    display: block;
    font-size: 22px;
    text-align: center;
  }
}
@media (min-width: 1300px) {
  #howdoesitwork .tablet-iphone-left, #howdoesitwork .tablet-iphone-right, #howdoesitwork .tablet-iphone-mid, #howdoesitwork .tablet-iphone-mid-content, #howdoesitwork .tablet-h3, #howdoesitwork .mobile-p {
    display: none;
  }
  #howdoesitwork .desktop-iphone-left, #howdoesitwork .desktop-iphone-mid, #howdoesitwork .desktop-iphone-right {
    display: block;
  }
  #howdoesitwork .desktop-iphone-left {
    position: relative;
    right: 7%;
  }
  #howdoesitwork .desktop-iphone-right {
    position: relative;
    left: 7%;
  }
  #howdoesitwork h2 {
    font-size: 40px;
    text-align: center;
  }
  #howdoesitwork .desktop-h3 {
    display: block;
    text-align: center;
    font-size: 24px;
  }
  #howdoesitwork .desktop-p {
    display: block;
    text-align: center;
    margin-bottom: 4rem;
  }
}

.fourth-page {
  background-color: var(--clr-bg);
}

.fourth-page {
  display: none;
}
@media (min-width: 1300px) {
  .fourth-page {
    display: block;
  }
}

#bank-info {
  display: block;
}

.moneytransfer {
  margin-left: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "transfer images" "contacts international";
}
.moneytransfer .transfer {
  grid-area: transfer;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-top: 10rem;
}
.moneytransfer .transfer h3 {
  font-size: 32px;
  width: 416px;
}
.moneytransfer .transfer .transfer-info {
  display: flex;
  gap: 1em;
}
.moneytransfer .transfer .transfer-info p {
  margin: 5px;
}
.moneytransfer .transfer .transfer-margin {
  margin-bottom: 2rem;
}
.moneytransfer .images {
  grid-area: images;
  margin-left: 14rem;
  margin-top: 7rem;
}
.moneytransfer .images .inner {
  position: absolute;
  z-index: 1;
}
.moneytransfer .images .outer {
  position: relative;
  z-index: 3;
  left: 42%;
  top: 82%;
}
.moneytransfer .contacts-images {
  grid-area: contacts;
  margin-left: 1rem;
  margin-top: 12rem;
}
.moneytransfer .contacts-images .contacts {
  position: absolute;
}
.moneytransfer .contacts-images .card-2 {
  position: relative;
  top: 18%;
  left: 33%;
}
.moneytransfer .international {
  grid-area: international;
  margin-top: 13rem;
  margin-left: 12rem;
  margin-bottom: 12rem;
  width: 526px;
  height: 362px;
}
.moneytransfer .international .payments-2 {
  margin-top: 2rem;
  display: flex;
  gap: 3.5rem;
}
.moneytransfer .international h3 {
  font-size: 32px;
}
.moneytransfer .international .btn-payment {
  margin-top: 2rem;
}

.fifth-page {
  background-color: var(--clr-bg-100);
}

.fifth-page {
  display: none;
}
@media (min-width: 1300px) {
  .fifth-page {
    display: block;
  }
}

#recensions {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 6rem;
  gap: 2rem;
  max-width: 1300px;
}
#recensions h2 {
  font-size: 40px;
  margin-top: -1rem;
  width: 350px;
}

.box-3 {
  padding: 1rem;
}

.fannie-box {
  margin-left: 4rem;
}

.imgs {
  display: flex;
  flex-direction: column;
}
.imgs .quotes {
  position: relative;
  top: -60%;
  height: 45px;
  width: 45px;
}
.imgs .ratings {
  position: relative;
  width: 88px;
  height: 16px;
  top: -10%;
}

.fannie {
  display: flex;
  gap: 1em;
}
.fannie .text-fannie h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: -0.5rem;
}
.fannie .text-fannie p {
  color: var(--clr-fanniealbert-p);
}

#faq {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (min-width: 1300px) {
  .questions {
    max-width: 1300px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "questions-2 info-lista" "subscribe subscribe";
  }
}

.questions {
  padding-left: 1rem;
}
.questions .mobile-h2 {
  font-size: 24px;
  text-align: center;
}
.questions .mobile-p {
  text-align: center;
}
.questions .desktop-tablet-h2, .questions .desktop-tablet-p {
  display: none;
}

.btn-contact {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.contact-boxes {
  display: none;
}
.contact-boxes .phone a {
  color: var(--clr-primary);
}
.contact-boxes .message a {
  color: #22C55E;
}

@media (min-width: 768px) {
  .questions .mobile-h2, .questions .mobile-p, .questions .btn-contact {
    display: none;
  }
  .questions .desktop-tablet-h2 {
    display: block;
    font-size: 32px;
  }
  .questions .desktop-tablet-p {
    display: block;
    text-align: center;
  }
  .contact-boxes-tablet {
    display: flex;
    gap: 1.6em;
  }
  .contact-boxes-tablet .box-4 {
    width: 343px;
  }
  .subscribe {
    width: 705px;
    height: 223px;
  }
}
@media (min-width: 1300px) {
  .questions-2 {
    margin-top: 5rem;
    width: 417px;
    height: 380px;
    grid-area: questions-2;
  }
  .questions-2 .desktop-tablet-p {
    text-align: left;
  }
  .questions-2 .desktop-tablet-h2 {
    display: inline;
  }
  .contact-boxes {
    display: flex;
    gap: 1em;
  }
  .contact-boxes-tablet {
    display: none;
  }
  .info-lista {
    width: 746px;
    grid-area: info-lista;
  }
  .subscribe {
    grid-area: subscribe;
  }
}
.subscribe {
  border-radius: 0.5em;
  width: 366px;
  height: 251px;
  background-color: var(--clr-bg-100);
}
.subscribe .desktop-h3 {
  display: none;
}
@media (min-width: 768px) {
  .subscribe {
    margin-top: 3rem;
    width: 712px;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1300px) {
  .subscribe {
    width: 1280px;
    justify-content: center;
  }
}
.subscribe .bell-text {
  display: flex;
  gap: 1rem;
}
.subscribe .bell-text .mobile-h3 {
  margin-top: 3rem;
  font-size: 21px;
}
@media (min-width: 768px) {
  .subscribe .bell-text .mobile-h3 {
    font-size: 23px;
    margin-top: 2.5rem;
    margin-left: 1rem;
  }
}
.subscribe .bell-text .bell {
  margin-left: 1rem;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;
}
@media (min-width: 1300px) {
  .subscribe .bell-text .mobile-h3 {
    display: none;
  }
  .subscribe .bell-text .desktop-h3 {
    display: block;
    font-size: 24px;
    margin-top: 2.5rem;
    margin-left: 1rem;
  }
}
.subscribe .input-grp {
  margin-top: 2rem;
  margin-left: 1rem;
  display: flex;
  position: relative;
  width: 334px;
  height: 52px;
}
@media (min-width: 768px) {
  .subscribe .input-grp {
    margin-left: auto;
    margin-right: 1rem;
    margin-top: 1.5rem;
  }
}
@media (min-width: 1300px) {
  .subscribe .input-grp {
    width: 472px;
    margin-left: 3rem;
  }
}
.subscribe .input-grp input[type=email]:focus {
  outline: 1px solid var(--clr-input-border);
}
.subscribe .input-grp ::-moz-placeholder {
  color: var(--clr-placeholder);
}
.subscribe .input-grp ::placeholder {
  color: var(--clr-placeholder);
}
.subscribe .email-icon {
  position: absolute;
  padding-left: 3rem;
  top: 50%;
  transform: translate(-50%, -50%);
}
.subscribe .form-input {
  border: 1px solid var(--clr-input-border);
  border-radius: 0.5em 0 0 0.5em;
  padding-left: 2.5rem;
  width: 220px;
}
@media (min-width: 1400px) {
  .subscribe .form-input {
    width: 330px;
  }
}

footer {
  padding-bottom: 1rem;
}

footer .container {
  font-size: 14px;
  color: var(--clr-footer);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  display: grid;
}

footer .credit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -18px;
}

@media (min-width: 768px) {
  footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .credit {
    display: block;
    margin-top: 14px;
  }
}