h2 {
    font-size: 40px;
}

.app-features {
    p {
        color: var(--clr-gray600);
        width: 746px;
    }
}

aside {
    margin-top: 4rem;
    .iphone {
        
    }
    .card {
        position: relative;
        bottom: 61.5%;
        left: 3.5%;
    }
}