#features {
    
    display: flex;
    max-width: 100%;
    @media (min-width: 768px) {
        max-width: 720px;
    }
    @media (min-width: 1300px) {
        max-width: 1300px;
        height: 880px;
    }
}

h2 {
    font-size: 28px;
    text-align: center;

    @media (min-width: 768px) {
        font-size: 33px;
    }
    @media (min-width: 1300px) {
        font-size: 40px;
        text-align: left;
    }
}



.app-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .features-p {
        text-align: center;
        max-width: 100%;
    
        @media (min-width: 768px) {
           
        }
        
        @media (min-width: 1300px) {
            max-width: 746px;
            text-align: left;
        }
    
    }

    @media (min-width: 1300px) {
        max-width: 746px;
        text-align: left;
        margin-top: 2rem;
    }
}

aside {
    display: none;
    margin-top: 4rem;

    .card {
        position: relative;
        bottom: 61.5%;
        left: 3.5%;
    }
    @media (min-width: 1300px) {
        display: block;
    }
}

.box-desktop {
    display: none;
    @media (min-width: 1300px) {
        display: flex;
    }
}




