


/* POPOUT MENY SKAPAD MED HJÄLP AV CHATGPT */
.popout-menu {
    display: none; // Dold som standard
    position: absolute;
    top: 100%;
    right: 10px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
    width: 150px;
    

    ul {
      list-style: none;
      padding: 10px 0;
      margin: 0;

      li {
        padding: 10px 20px;

        a {
          text-decoration: none;
          color: #333;

          &:hover {
            background-color: #f1f1f1;
          }
        }
      }
    }
}

.popout-menu.show {
    display: block; // Visas när "show"-klassen är tillagd
}



/*LISTA FÖR FEATURES SIDAN */


.lista {
  margin-bottom: 2rem;
  .listitem {
    display: flex;
    gap: 1em;
  }
  .text {
    width: 280px;
    p {
      margin-top: -10px;
  }
  }
  .box-2 {
    margin-top: 1rem;
  }
  
}

@media (min-width: 768px) {
  .lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 746px;
    height: 450px;
    margin-bottom: 2rem;
    
  
    .listitem { 
    
      display: flex;
      gap: 1em;
      align-items: flex-start;
      
      .box-2 {
        margin-top: 0;
      }
      
      p {
          width: 265px;
          margin-top: -10px;
      }
      
      h3 {
        font-size: 20px;
        text-align: start;
          
      }
      .text {
          display: flex;
          flex-direction: column;
          align-self: flex-start;
          margin-top: -20px;
          
      }
       
    }
    .listitem-right {
    
    }
    .listitem-bottom {
      position: relative;
      
      
    }
    .listitem-bottom-2 {
      position: relative;
      
      
    }
  }
  .lista {
    margin-top: 3rem;
  }
}


@media (min-width: 1300px) {
  .lista {
    margin-top: 4rem;
  }
  .listitem-right {
    margin-left: 3rem;
  }
}